# Ignore all .torrent files
*.torrent

# Ignore all pickle files
*.pkl
*.txt

# Ignore logs
logs/
*.log

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env/

readerv2.py
log.txt
